.conatiner{
  width: 100%;
  height: 100%;

}
.header{
  border-bottom: 2px solid rgb(97, 94, 94,0.6);
}
.from{
  width: 100%;
  height: 100%;
  padding: 23px;
  display: flex;
  box-sizing: border-box;
}
