.header{
  border-bottom: 2px solid rgb(97, 94, 94,0.6);
  box-sizing: border-box;
  padding-left: 2px;

}
.header h1 {
  font-family: 'myFont';
}
@media (max-width:450px) {
  .header h1 {
    padding-left: 20px;
  }
}
