
**/node_modules/


# next.js
**/.next/
**/out/
**/dist/
**/public/image/
# production
**/build
**/ecosystem.config.js

# debug


# local env files
**/.env
**/next-env.d.ts


# vercel


# typescript
Thumbs.db
**/.DS_Store
**/.gradle
**/build/
**/target/
**/out/
**/.micronaut/
**/.idea
**/.iml
**/.ipr
**/.iws
**/.project
**/.settings
**/.classpath
**/.factorypath
