.CreatBody{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 9% 91% 100%;
    grid-auto-rows: 50px 1fr 50px;
    grid-template-areas:
    "header header" 
    "user textarea"
     "button button"
    ;
    

}
.header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    display: flex;
    padding-left: 11px;
    padding-right: 11px;
    box-sizing: border-box;
    grid-area: header;
    margin: 0%;
}
.h2{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
}
.visible{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    width: 100%;
   
}
.user{
    display: inline-flex;
    grid-area: user;
    justify-content: center;

}

.write{
  box-sizing: border-box;
  grid-area: textarea;
  align-self: center;
  display: flex;
  flex-direction: column;
  }
.button{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-area: button;
  padding-right: 12px;
}
.p{
    font-family: 'myFont';
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0%;
    padding: 0px;
}
