.CreatBody{
    display: grid;
    grid-template-columns: 9% 91% 100%;
    align-items: center;
    grid-template-areas:
    "header header" 
    "user textarea"
     "button button"
    ;
    

}
.header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    display: flex;
    padding-left: 11px;
    padding-right: 11px;
    box-sizing: border-box;
    grid-area: header;
}
.h2{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visible{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
}
.user{
    display: inline-flex;
    align-items: center;
    grid-area: user;
   
    
}
.user p{
    font-family: 'myFont';
    font-weight: 700;
    font-size: 1.1rem;
}
.write{
  box-sizing: border-box;
  grid-area: textarea;
  
}

.button{
  display: flex;
  padding: 2px;
  justify-content: flex-end;
  margin: 10px;
  grid-area: button;
}
.p{
    font-family: 'myFont';
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0%;
    padding: 0px;
}
