@font-face {
    font-family: 'myFont';
    src: url('/pro/SF-Compact-Rounded-Semibold.ttf') format('truetype'); /* Formato TTF */
    /* Adicione outros formatos de arquivo, se necessário */
  }

.form {
  display: flex;
  align-items: center;
  height: 500px;
  padding-left: 8px;
  box-sizing: border-box;
  
}
.registrations {
  background-color: white;
  height: 450px;
  width: 600px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.name {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 98%;
}
.containerInputs {
  margin-top: 35px;
  height: 90%;
  padding-left: 10px;
  
}
.containerInputsNames {
  width: 48%;
}
.SensitiveInformationForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 55%;
  margin-top: 20px;
}
.containerInputsSensitiveInformation {
  width: 98%;
}
.conatinerbutton {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 80px;
 
}
.button {
  background-color: black;
  text-transform: capitalize;
  font-family: 'myFont';
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width:660px) {
  .registrations {
    width: 100%;
  }
  .form {
    width: 100%;
  }
}
