.side{
    display: flex;
    align-items: center;
    background-color: #ECECEC;
    
}
.containerSideBar{
    display: flex;
}

@media screen and (max-width: 810px) {
    .side{
     display: 'none';
    } 
    .containerSideBar{
        display: none;
    }
  }