#input {
  background-color: white;
  border: 0px;
  border: 1px solid #ccc;
  width: 100%;
  height: 70px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0%;
  padding: 0%;
  font-family: 'myFont';
  text-transform: capitalize;
}


.label {
  text-transform: capitalize;
  font-weight: bold;
  font-family: 'myFontBold';
  color: black;
  font-size: 16px;
 
}

#id::placeholder{
  font-size: 30px;
}
.error{
  min-width:90%;
  max-width: 90%;
  word-break:keep-all;
  padding: 0%;
  margin: 0px;
  display: block;
  font-family: 'myFont';
}

