


.label {
  text-transform: capitalize;
  font-weight: bold;
  font-family: 'myFontBold';
  color: black;
  font-size: 16px;
 display: none;
}

#id::placeholder{
  font-size: 30px;
}
.error{
  min-width:90%;
  max-width: 90%;
  word-break:keep-all;
  padding: 0%;
  margin: 0px;
  display: block;
  font-family: 'myFont';
  font-size: 0.7rem;
}

