.main{
    width: 50%;
    height: 100vh;
    background-color: rgba(141, 228, 240);
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}


.scroll{
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.contentStyle{
    width: 450px;
    margin-bottom: 10px;
   
}
@media screen and (max-width: 444px) {
   .scroll{
    width: 98%;
  } 
  .contentStyle{
    width: 100%;
    margin-right: 10px;
  } 
}
