@font-face {
    font-family: 'myFont';
    src: url('/pro/SF-Compact-Rounded-Semibold.ttf') format('truetype'); /* Formato TTF */
    /* Adicione outros formatos de arquivo, se necessário */
  }

  .main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .header {
    background-color: black;
    width: 95vw;
    height: 50px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 1px;
    color: #000;
  }
  
  .formContainer {
    width: 95vw;
    margin: auto;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }
 
  