.contact {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
 
}

.contact_p {
  font-size: 12px;
  color: rgb(105, 98, 98);
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  word-break:keep-all;
  width: 70%;
  font-family: 'myFont';
}
.contact_h2 {
  margin-top: 20px;
  margin-bottom: 4px;
  padding: 0px;
  font-family: 'myFont';
  font-weight: 900;
}
.sections_contacts {
 background-color: white;
}
.containerInfo {
  background-color: white;
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}
.info {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}
.options_contacts {
  display: grid;
 
}

.conatinerContacts {
  margin-top: 10px;
  width: 70%;
}
