.asideBody{
    border-radius: 10px;
    max-width: 200px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    
}
.ul{
  padding: 0%;
  margin: 0px;
}

.li{
    list-style: none;
    display:inline-flex;
    align-items: center;
    cursor: pointer;
    
}
.li span{
  font-family:'myFont';
  font-weight: 700;
  font-size: 1.1rem;
}

@media screen and (max-width: 600px) {
  .asideBody{
   display: none;
  
}
}
@media screen and (max-height: 500px) and (orientation: landscape) {
  .asideBody {
    display: none;
  }
}
