.asideBody{
    background-color:white;
    border-radius: 10px;
    
}

.li{
    list-style: none;
    display:inline-flex;
    align-items: center;
    cursor: pointer;
    
}
.li span{
  font-family:'myFont';
  font-weight: 700;
  font-size: 1.1rem;
}

@media screen and (max-width: 810px) {
  .asideBody{
    border-radius: 0px;
    display: flex;
    align-items: center;
}
  .ul{
    display: flex;
    align-items: center;
    height: 100%;
  }
}